header {
    height: 550px;
    background-color: #00004d;
    color: white;
}

.logo {
    height: 250px;
}

#logo {
    height: 120px;
    width: 150px;
}

#eric {
    height: 509px;
    width: 265px;
    display: inline-block;
    justify-content: end;
    padding: 20px;
    align-items: flex-end;
    
}

#heroImg {
    height: 550px;
    width: 265px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    right: 5%;
    top: 10%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 20px;
}

#Resume {
    background-color: black;
    border-radius: 10%;
    color: white;
}

.nav {
    background-color: #00004d;
    color: white;
}

.navLi {
    display: in;
}

footer {
    background-color: #00004d;
    color: white;
}

.flexContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 300px 300px 300px;
        ;
    }

.workGrid {
    display: flex;
    width: 50%;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 300px 300px 300px;
    grid-template-areas: "card card"
    ;
}

.row {
    display: flex;
    width: 50%;
    padding: 20px;
    margin: 20px;
}

.skill {
    width: 33%;
    padding: 5px;
    margin: 5px;
}

@media only screen and (max-width: 600){
    .flexContainer {
        display: table-column;
    }
    .workGrid {
        display: flex;
        flex-direction: column;
        width: 100%;
        grid-template-areas: 
        "card"
        "card"
        ;
    }
    .containerGrid {
        display: flex;
        flex-direction: column;
        width: 100%;
        grid-template-rows: 600;
        grid-template-columns: 600 600 600;
        grid-template-areas: 
        "card"
        "card"
        ;
    }
    .row {
        display: flex;
        flex-direction: column;
        width: 0%;
        padding: 20px;
        margin: 20px;
    }
}