header {
    height: 250px;
    background-color: #00004d;
    color: white;
}

.logo {
    height: 250px;
}

#logo {
    height: 250px;
    width: 350px;
}

#eric {
    height: 509px;
    width: 265px;
    display: flex;
    justify-content: end;
    padding: 0;
    align-items: flex-end;
    
}

#heroImg {
    height: 550px;
    width: 265px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#caseStudy {
    height: 500px;
    background-color:dimgray
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 20px;
}

#Resume {
    background-color: black;
    border-radius: 10%;
    color: white;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
}

.navLi {
    display: in;
}